
.container{
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
/* 根目錄與自訂函數*/
:root{
    --col-gap:10px;
    /* 當要調整左右margin只需調整該變數 */
}
/*  container 固定寬度的容器  row分欄容器 col欄 */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--col-gap)) * -1;
    margin-right: calc(var(--col-gap)) * -1;
    /* 使用變數要加var*/
}
.item{
    margin: 15px 10;
    padding: 10px 0 10px 0;
}

/* 屬性選取器 所有class名稱 "包含"col-的都選取到 */
[class*='col-'],
/* 「>」選取器是「僅選到下一個層」的物件 */
[class*='row-cols'] > .col
{
    /* padding-left: 10px;
    padding-right: 10px; */
    box-sizing: border-box;
}
/* .col-數字 數字代表佔一列中的n/12  12 也是自己決定的(1 2 3 6 的最小公倍數)*/
.col-1{width: 8.333333%; }
.col-2{width: 16.666666%;}
.col-3{width: 25%;       }
.col-4{width: 33.333333%;}
.col-5{width: 41.666666%;}
.col-6{width: 50%       ;} 
.col-7{width: 58.333333%;}
.col-8{width: 66.666666%;}
.col-9{width: 75%;}
.col-10{width: 83.333333%;}
.col-11{width: 91.666666%;}
.col-12{width: 100%;}

/* 平板直向 */
@media screen and (min-width: 768px){
    .col-md-1{width: 8.333333%; }
    .col-md-2{width: 16.666666%;}
    .col-md-3{width: 25%;       }
    .col-md-4{width: 33.333333%;}
    .col-md-5{width: 41.666666%;}
    .col-md-6{width: 50%       ;} 
    .col-md-7{width: 58.333333%;}
    .col-md-8{width: 66.666666%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.333333%;}
    .col-md-11{width: 91.666666%;}
    .col-md-12{width: 100%;}
}
/* 平板橫向 */
@media screen and (min-width: 1024px){
    .col-lg-1{width: 8.333333%; }
    .col-lg-2{width: 16.666666%;}
    .col-lg-3{width: 25%;       }
    .col-lg-4{width: 33.333333%;}
    .col-lg-5{width: 41.666666%;}
    .col-lg-6{width: 50%       ;} 
    .col-lg-7{width: 58.333333%;}
    .col-lg-8{width: 66.666666%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.333333%;}
    .col-lg-11{width: 91.666666%;}
    .col-lg-12{width: 100%;}
}
@media screen and (min-width: 1200px){
    .col-xl-1{width: 8.333333%; }
    .col-xl-2{width: 16.666666%;}
    .col-xl-3{width: 25%;       }
    .col-xl-4{width: 33.333333%;}
    .col-xl-5{width: 41.666666%;}
    .col-xl-6{width: 50%       ;} 
    .col-xl-7{width: 58.333333%;}
    .col-xl-8{width: 66.666666%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.333333%;}
    .col-xl-11{width: 91.666666%;}
    .col-xl-12{width: 100%;}
}
/* row-cols區 .row-cols-1 那一列的每一個COL都給100%; */    
.row-cols-1 > .col{
    width: 100%;
}
.row-cols-2 > .col{
    width: 50%;
}
.row-cols-3 > .col{
    width: 33.333333%;
}
.row-cols-4 > .col{
    width: 25%;
}

.row-cols-5 > .col{
    width: 20%;
}

.row-cols-6 > .col{
    width: 16.666666%;
}

@@media screen and (min-width:768px) {
    .row-cols-md-1 > .col{
        width: 100%;
    }
    .row-cols-md-2 > .col{
        width: 50%;
    }
    .row-cols-md-3 > .col{
        width: 33.333333%;
    }
    .row-cols-md-4 > .col{
        width: 25%;
    }
    
    .row-cols-md-5 > .col{
        width: 20%;
    }
    
    .row-cols-md-6 > .col{
        width: 16.666666%;
    }
}
@media screen and (min-width:1024px) {
    .row-cols-lg-1 > .col{
        width: 100%;
    }
    .row-cols-lg-2 > .col{
        width: 50%;
    }
    .row-cols-lg-3 > .col{
        width: 33.333333%;
    }
    .row-cols-lg-4 > .col{
        width: 25%;
    }
    
    .row-cols-lg-5 > .col{
        width: 20%;
    }
    
    .row-cols-lg-6 > .col{
        width: 16.666666%;
    }
}
@media screen and (min-width:1200px) {
    .row-cols-xl-1 > .col{
        width: 100%;
    }
    .row-cols-xl-2 > .col{
        width: 50%;
    }
    .row-cols-xl-3 > .col{
        width: 33.333333%;
    }
    .row-cols-xl-4 > .col{
        width: 25%;
    }
    
    .row-cols-xl-5 > .col{
        width: 20%;
    }
    
    .row-cols-xl-6 > .col{
        width: 16.666666%;
    }
}


